<a href="https://colab.research.google.com/github/nihalgirish/nihalgirish/blob/main/basicpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''QUESTION 1: Variable Assignments in Python
1. Four variables will be declared in Python: country, capital, size, and population.
2. Assign your countryâ€™s name to the variable country, the name of the capital to the
variable capital, the size of your country (in kilometer-squared) to the variable size,
and the population of your country (in millions) to the variable population.
3. Print these variables with appropriate labels.'''


country = "India"
capital = "New Delhi"
size = "3287263 sq. km"
population = "1417 million"

print("country:",country)
print("capital:",capital)
print("size:",size)
print("population:",population)

country: India
capital: New Delhi
size: 3287263 sq. km
population: 1417 million

In [8]:
'''Question No. 2: Arithmetic Operations in Python
What is the output of the following Arithmetic operations in Python?'''

"Q1."
x1 = 45 - 12**2 * 3 + 16 // 2
print("x1:",x1)

"#Q2."
x2 = (7 * 6**3) % 4 + 18 // 3 - 9
print("x2:",x2)

"#Q3."
x3 = 14 + (8 * 2) - 30 // 4**2
print("x3:",x3)

"#Q4."
x4= (7**2 - 4**3) * 4**2 + 10%3
print("x4:",x4)

x1: -379
x2: -3
x3: 29
x4: -239

In [6]:
"#Q1"
a = (12 <= 14) and (6 > 3) or (7 == 7)
print("a:",a)

"Q2"
b = (not(5>10)or(3==3))
print("b:",b)

"Q3"
c = (4!=4)and(10>9)
print("c:",c)

"Q4"
d = (20>5)and(5<9)and(4>=4)
print("d:",d)

a: True
b: True
c: False
d: True

In [19]:
Fruits=["Apple","Banana","Orange","Grapes","Mango","Pineapple"]
Fruits.remove("Orange")
print(Fruits)

['Apple', 'Banana', 'Grapes', 'Mango', 'Pineapple']

In [29]:
miles=float(input("Enter the distance in miles"))
km=miles*1.60934
print("the givend distance converted from miles to kilometres is:",km)

Enter the distance in miles789.9
the givend distance converted from miles to kilometres is: 1271.217666

In [33]:
grade1=float(input("Enter the grade of first subject"))
grade2=float(input("Enter the grade of second subject"))
grade3=float(input("Enter the grade of third subject"))
grade4=float(input("Enter the grade of fourth subject"))
avg_grade=(grade1+grade2+grade3+grade4)/4
print("The average of the five subjects is:",avg_grade)
if avg_grade>60:
  pass_status=True
elif avg_grade<=60:
  pass_status=False
print("The pass status is:",pass_status)

Enter the grade of first subject100
Enter the grade of second subject80
Enter the grade of third subject50
Enter the grade of fourth subject0
The average of the five subjects is: 57.5
The pass status is: False